# ======================================
# Global ignores
# ======================================
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.tmp
*.bak
*.old
*.env

# Logs
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Test and coverage reports
coverage/
lcov-report/
test-results/
TestResults/

# ======================================
# Rider / JetBrains
# ======================================
.idea/
*.iml

# ======================================
# Backend - ASP.NET Core
# ======================================
# Ignore bin and obj folders across all projects in the solution
**/bin/
**/obj/

# Ignore build files (e.g., .pdb, .db files, etc.)
**/*.pdb
**/*.db
**/*.db-shm
**/*.db-wal

# ======================================
# Frontend - Angular
# ======================================
src/BudgetBeavers.UI/node_modules/
src/BudgetBeavers.UI/dist/
src/BudgetBeavers.UI/tmp/
src/BudgetBeavers.UI/out-tsc/
src/BudgetBeavers.UI/.angular/
src/BudgetBeavers.UI/package-lock.json
src/BudgetBeavers.UI/yarn.lock
src/BudgetBeavers.UI/.env

# ======================================
# Docker
# ======================================
docker/*.tar
docker/*.img
docker/*.container
docker-compose.override.yml
