
services:
  api:
    build:
      context: ../src
      dockerfile: BudgetBeavers.API/BudgetBeavers.API/Dockerfile
    container_name: budgetbeavers_api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - database

  database:
    image: postgres:17.4
    container_name: budgetbeavers_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - budget-beavers-db-data:/var/lib/postgresql/data

volumes:
  budget-beavers-db-data: